<%- include("partials/header"); -%>
    <h1>Contact Us</h1>
    <footer id="footer">
        <h3>SOCIAL LINKS</h3>
        <a class="footer-link" href="https://www.linkedin.com/in/sahspeaks/" target="_ ">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/Sah_speaks" target="_ ">Twitter</a>
        <a class="footer-link" href="https://www.instagram.com/sah_speaks/" target="_ ">Instagram</a>
        <p class="copyright">© 2022 Sah Abhishek Kumar</p>
    </footer>
   
<%- include("partials/footer"); -%>

